In [1]:
%load_ext kedro.ipython

[09/15/25 22:09:42] INFO     Using 'C:\Users\gonza\OneDrive\Documentos\Duoc\Machine                 __init__.py:270
                             Learning\Proyecto\venv\Lib\site-packages\kedro\framework\project\rich_
                             logging.yml' as logging configuration.

                    INFO     Registered line magic '%reload_kedro'                                   __init__.py:63

                    INFO     Registered line magic '%load_node'                                      __init__.py:65

                    INFO     Resolved project path as:                                              __init__.py:180
                             C:\Users\gonza\OneDrive\Documentos\Duoc\Machine
                             Learning\Proyecto\olympicskedro.
                             To set a different path, run '%reload_kedro <project_root>'

[09/15/25 22:09:45] INFO     Kedro is sending anonymous usage data with the sole purpose of improving plugin.py:243
                             the product. No personal data or IP addresses are stored on our side. To
                             opt out, set the `KEDRO_DISABLE_TELEMETRY` or `DO_NOT_TRACK` environment
                             variables, or create a `.telemetry` file in the current working
                             directory with the contents `consent: false`. To hide this message,
                             explicitly grant or deny consent. Read more at
                             https://docs.kedro.org/en/stable/configuration/telemetry.html

[09/15/25 22:09:46] INFO     Kedro project OlympicsKedro                                            __init__.py:146

                    INFO     Defined global variable 'context', 'session', 'catalog' and            __init__.py:147
                             'pipelines'

                    INFO     Registered line magic 'run_viz'                                        __init__.py:153

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [7]:
catalog.keys()

[
    'summer_raw',
    'dictionary_raw',
    'winter_clean',
    'summer_clean',
    'dictionary_clean',
    'dictionary_scaled',
    'summer_with_medal_flag',
    'parameters',
    'winter_raw'
]

In [8]:
catalog.load('summer_raw')

[09/15/25 22:23:35] INFO     Loading data from summer_raw (ParquetDataset)...                  data_catalog.py:1046

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [9]:
df_summer = catalog.load('summer_raw')

[09/15/25 22:29:06] INFO     Loading data from summer_raw (ParquetDataset)...                  data_catalog.py:1046

In [10]:
df_summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [11]:
df_summer.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [12]:
df_summer.describe()

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000

In [14]:
df_summer['Medal']

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
31160    Bronze
31161      Gold
31162    Silver
31163    Bronze
31164    Bronze
Name: Medal, Length: 31165, dtype: object

In [15]:
df_summer['Medal'].describe()

count     31165
unique        3
top        Gold
freq      10486
Name: Medal, dtype: object

In [16]:
df_summer.describe(include=object)

,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
count,31165,31165,31165,31165,31161,31165,31165,31165
unique,22,43,67,22762,147,2,666,3
top,London,Aquatics,Athletics,"PHELPS, Michael",USA,Men,Football,Gold
freq,3567,4170,3638,22,4585,22746,1497,10486

In [18]:
df_summer.dtypes

Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

In [20]:
df_summer.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64

In [21]:
catalog.load('winter_raw')

[09/15/25 22:51:24] INFO     Loading data from winter_raw (ParquetDataset)...                  data_catalog.py:1046

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [22]:
df_winter = catalog.load('winter_raw')

[09/15/25 23:10:19] INFO     Loading data from winter_raw (ParquetDataset)...                  data_catalog.py:1046

In [23]:
df_winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [24]:
df_winter.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [27]:
df_winter.describe()

              Year
count  5770.000000
mean   1986.350433
std      24.263673
min    1924.000000
25%    1972.000000
50%    1994.000000
75%    2006.000000
max    2014.000000

In [25]:
df_winter.isnull().sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       0
Gender        0
Event         0
Medal         0
dtype: int64

In [31]:
catalog.load('dictionary_raw')

[09/15/25 23:13:54] INFO     Loading data from dictionary_raw (ParquetDataset)...              data_catalog.py:1046

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0      594.323081
1            Albania  ALB   2889167.0     3945.217582
2            Algeria  ALG  39666519.0     4206.031232
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

[201 rows x 4 columns]

In [32]:
df_dictionary = catalog.load('dictionary_raw')

[09/15/25 23:14:21] INFO     Loading data from dictionary_raw (ParquetDataset)...              data_catalog.py:1046

In [33]:
df_dictionary.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [34]:
df_dictionary.tail()

             Country Code  Population  GDP per Capita
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

In [35]:
df_dictionary.describe()

         Population  GDP per Capita
count  1.960000e+02      176.000000
mean   3.722825e+07    12882.556131
std    1.399655e+08    17747.141203
min    1.022200e+04      277.068309
25%    1.638278e+06     1781.096847
50%    7.450124e+06     5233.583395
75%    2.557454e+07    15494.683646
max    1.371220e+09   101449.968168

In [39]:
df_dictionary['GDP per Capita']

0       594.323081
1      3945.217582
2      4206.031232
3              NaN
4              NaN
          ...
196    2111.138024
197            NaN
198    1406.291651
199    1304.879014
200     924.143819
Name: GDP per Capita, Length: 201, dtype: float64

In [41]:
df_dictionary.isnull().sum()

Country            0
Code               0
Population         5
GDP per Capita    25
dtype: int64

In [48]:
def truncate_series(s: pd.Series) -> pd.Series:
    return np.trunc(s*100)/100

In [50]:
truncate_series(df_dictionary['GDP per Capita'])

0       594.32
1      3945.21
2      4206.03
3          NaN
4          NaN
        ...
196    2111.13
197        NaN
198    1406.29
199    1304.87
200     924.14
Name: GDP per Capita, Length: 201, dtype: float64

In [52]:
df_dictionary['GDP per Capita'] = truncate_series(df_dictionary['GDP per Capita'])

In [53]:
df_dictionary

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0          594.32
1            Albania  ALB   2889167.0         3945.21
2            Algeria  ALG  39666519.0         4206.03
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0         2111.13
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0         1406.29
199           Zambia  ZAM  16211767.0         1304.87
200         Zimbabwe  ZIM  15602751.0          924.14

[201 rows x 4 columns]

In [54]:
def fillna(df: pd.DataFrame, col: str, value=0) -> pd.DataFrame:
    df[col] = df[col].fillna(value)
    return df

In [56]:
df_dictionary = fillna(df_dictionary, "GDP per Capita", 0)

In [57]:
df_dictionary

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0          594.32
1            Albania  ALB   2889167.0         3945.21
2            Algeria  ALG  39666519.0         4206.03
3    American Samoa*  ASA     55538.0            0.00
4            Andorra  AND     70473.0            0.00
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0         2111.13
197  Virgin Islands*  ISV    103574.0            0.00
198            Yemen  YEM  26832215.0         1406.29
199           Zambia  ZAM  16211767.0         1304.87
200         Zimbabwe  ZIM  15602751.0          924.14

[201 rows x 4 columns]